@charset "utf-8";

$BackColor:#081636 #11234f;
$DeepColor:#c5d5ec #7d9fc5;

$NomalWidth:1080px; 
$NomalHeight:1920px; 
$FontColor:#bbcfea;

@mixin top-gradient{
    background:-webkit-linear-gradient(top, nth($BackColor,1), nth($BackColor,2));
    background:-o-linear-gradient(top, nth($BackColor,1), nth($BackColor,2));
    background:-moz-linear-gradient(top, nth($BackColor,1), nth($BackColor,2));
    background:linear-gradient(to bottom, nth($BackColor,1), nth($BackColor,2));
}
@mixin deep-gradient{
    background:-webkit-linear-gradient(top, nth($DeepColor,1), nth($DeepColor,2));
    background:-o-linear-gradient(top, nth($DeepColor,1), nth($DeepColor,2));
    background:-moz-linear-gradient(top, nth($DeepColor,1), nth($DeepColor,2));
    background:linear-gradient(to bottom, nth($DeepColor,1), nth($DeepColor,2));
}
@mixin rgba-gradient{
    background:-webkit-linear-gradient(left, rgba(13,80,238,0), rgba(13,80,238,0.3));
    background:-o-linear-gradient(left, rgba(13,80,238,0), rgba(13,80,238,0.3));
    background:-moz-linear-gradient(left, rgba(13,80,238,0), rgba(13,80,238,0.3));
    background:linear-gradient(to right, rgba(13,80,238,0), rgba(13,80,238,0.3));
}
@font-face
{
font-family: numberFont;
src: url('../font/DIN-Medium.otf')
}
@font-face
{
font-family: stringFont;
src: url('../font/PingFangMedium.ttf')
}

html,body{
    font-family: numberFont;
    overflow: hidden;
    #wrap{
        @include top-gradient;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width:$NomalWidth;
        height:$NomalHeight;
        #content{
            width: $NomalWidth;
            height: $NomalHeight;
            .page{
                position: absolute;
                top: 150px;
                height: 1680px;
                width: $NomalWidth;
                left: -1080px;
                opacity: 0;
            }
        }
    }
    #setScreen{
        position: fixed;
        width: 1080px;
        height: 1920px;
        top: 0;
        left: 0;
        z-index: 100;
        background: #000;
        display: none;
        img{
            position: absolute;left: 0;
            top: 0;
            height: 1920px;
            width: 1080px;
            display: none;
        }
        .selected{
            display: block;
        }
    }
}


@import "top";
@import "menu";
@import "home";
@import "location";
@import "safa";
@import "data";
@import "music";
@import "call";
